@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #000;
}

h1 {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 3em;
	color: #FFD700;
	background-color: #507642
	padding: 20px;
}

nav {
	font-size: 1.5em;
	background-color: #CCCFBC;
	border-bottom: 4px solid #507642;
}

nav a {
	float: right;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #000;
}

a:hover {
	background-color: #507642;
	color: white;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column{
	background-color: white;
	padding: 20px;
}

#left {
	padding: 20px;
	float: left;
	width: 62%;
}

#right {
	padding: 20px;
	float: right;
	width: 32%;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: right;
	font-size: .85em;
	padding: 1em 0;
	background-color: #CCCFBC;
	border-top: 4px solid #507642;
}