body {
	text-align: center;
	background: url("http://1.bp.blogspot.com/_Fzq94YVbHHM/SDw6Z9xbwtI/AAAAAAAAJr8/OT5TmAHQYcE/s1600/corn_fields_02.jpg");
	background-size: cover;
	font-family: 'PT Sans', sans-serif;
	color: gold;
}